*{
    margin: 0px;
    padding: 0px;
}
body{
    display : flex;
    justify-content: center;
    text-align: center;
    background: linear-gradient(270deg,#667eea,#764ba2);
}
#card{
    margin-top: 50px;
    height: 200px;
    width: 400px;
    background-color:#ffe5b4;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
     border-radius: 15px;
    }
    #lb{
        font-size: 20px;
    }
    #main{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-weight: bold;
        margin-top: 30px;
    }
    #num{
        margin-top: 20px;
        
    }
    #res{
         margin-top: 20px;
         font-size: 20px;
         font-weight: bold;
    }
    button{
        background-color: rgb(71, 151, 236);
        color: rgb(13, 14, 15);
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 18px;
        padding-right: 18px;
        border-radius: 5px;
        border: none;
    }